# Solar Panel Dataset
## Company: EasyGreen
### Explanation of Variables in Dataset

totalUsePower: Total kWh (amount of electricity) used today.


totalProductPower: Total kWh (amount of electricity) produced by the solar panels today.


totalSelfUsePower: Total kWh (amount of electricity) of today's production used for home electricity consumption.


totalBuyPower: Total kWh (amount of electricity) bought from the grid today.

In [ ]:
from sqlalchemy import create_engine
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

pd.set_option('display.float_format', lambda x: '%.2f' % x)

# Connection details
username = 'introToML'
password = 'pddbb1c530308955bbd2c5aa59a647e30074fc7b7ebde93f626c481f4de93f7de'
host = 'ec2-63-32-137-56.eu-west-1.compute.amazonaws.com'
port = '5432'
dbname = 'dcsdgo449thll5'

# Connection string
connection_string = f'postgresql+psycopg2://{username}:{password}@{host}:{port}/{dbname}'

# Create the engine
engine = create_engine(connection_string)

# Specify your table name
table_name = 'power_usage'

# Read the table into a DataFrame
df = pd.read_sql_table(table_name, engine, schema='public')

In [6]:
df.head(10)

,user_id,usage_date,totalBuyPower,totalProductPower,totalUsePower,totalOnGridPower,night_usage,plantId,dailychargecapacity,dailydischargecapacity,totalSelfUsePower
0,909,2022-11-02,9.11,0.00,9.11,0.00,6.66,134553295,0.00,0.00,0.00
1,909,2022-11-03,51.74,0.00,52.93,0.00,41.65,134553295,0.08,1.69,0.00
2,909,2022-11-04,42.67,3.08,45.96,0.00,40.04,134553295,2.33,1.84,3.08
3,909,2022-11-05,15.04,29.07,34.60,9.36,13.08,134553295,9.08,7.22,19.71
4,909,2022-11-06,21.33,3.03,24.52,0.10,10.75,134553295,1.45,1.61,2.93
5,909,2022-11-07,31.83,7.04,38.46,0.26,15.43,134553295,1.31,1.07,6.78
6,909,2022-11-08,45.90,12.25,53.39,4.58,37.33,134553295,6.13,4.96,7.67
7,909,2022-11-09,27.00,10.15,34.38,2.46,26.59,134553295,5.84,4.73,7.69
8,909,2022-11-10,35.20,7.36,42.12,0.47,31.92,134553295,4.86,4.15,6.89
9,909,2022-11-11,51.40,2.03,53.34,0.00,42.78,134553295,1.44,1.02,2.03